@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,900');

:root{
	--navHover: #C2C61B;
	--header-bg: #004D24;
	--bg: #fbebce;
	--topbar-bg: #252525;
	--footer-bg: #252525;
	--text: #2d3648;
	--subtitle: #787575;
	--galeria-bg: #101010;
}

body {
	margin: 0;
}
.app{
	background-color: var(--bg);
}
hr{
	height: 2px;
	background-color: #ccc;
	border: none;
}
.icon-arbo{
	width: 40px;
	height: 40px;
	color: teal;
}
.column{
	display: flex!important;
	flex-direction: column!important;
}
.centered-full{
	justify-content: center!important;
}
.align-start{
	align-items: flex-start!important;
}
.col-grid-2{
	grid-template-columns: 1fr 1fr!important;
}
@media screen and (max-width: 1156px) and (min-width: 784px) {
	.navH > .logo{
		max-width: 40%!important;
	}
	.navH > .logo > :nth-child(2){
		font-size: 0.7em!important;
	}
	.navItems{
		gap: 0!important;
	}
	.navItems > * {
		font-size: 0.7em!important;
	}
}
@media screen and (max-width: 1024px){
	.modal-options > *{
		grid-template-columns: 1fr 1fr!important;
	}
	.modal-grid{
		grid-template-columns: 1fr 1fr!important;
	}
}
@media screen and (max-width: 783px){
	.navH > .logo{
		max-width: 80%!important;
	}
	.navH > .logo > :nth-child(2){
		font-size: 1em!important;
	}
	.hero{
		justify-content: center!important;
		height: 100%;
	}
	.heroContent{
		width: 100%!important;
	}
	.card > .title{
		font-size: 1.2em!important;
	}
	.card > .subtitle{
		font-size: 0.8em!important;
	}
	.card > .description{
		font-size: 0.8em!important;
	}
	.action{
		max-width: 50%!important;
		flex-basis: 30%!important;
	}
	.btn-group-az{
		gap: 5px!important;
	}
	.btnAZ{
		font-size: 0.8em!important;
		padding: 0.5rem 1rem!important;
	}
}
@media screen and (max-width: 500px){
	.navH > .logo > :nth-child(2){
		display: none;
	}
	.textBox{
		width: 100%!important;
		padding: 1rem 0!important;
	}
	.textBox > *{
		font-size: 0.7em!important;
		white-space: break-spaces;
		word-wrap: break-word;
		width: 100%!important;
	}
	.action{
		max-width: 100%!important;
		height: 200px!important;
		flex-basis: 80%!important;
	}	
	.main{
		padding: 1rem!important;
	}	
	.main > .btn-group{
		justify-content: center!important;
	}
	.main > .filterName > *{
		max-width: 100%!important;
		flex-basis: 100%!important;
	}
	.main > .species > .btn-group{
		justify-content: flex-end!important;
	}
	.table > thead > tr > th, .table{
		text-align: center!important;
	}
	.table tbody tr td{
		font-size: 0.7em!important;
	}
	.btnAZ{
		font-size: 0.6em!important;
		padding: 0.25rem 0.5rem!important;
	}
	.modal-options > *{
		grid-template-columns: 1fr!important;
	}
	.modal-grid{
		grid-template-columns: 1fr!important;
	}
	.modal-arbo {
		padding: 0!important;
	}
	.modal-arbo > .img{
		max-width: 100%!important;
	}
}
@media screen and (max-width: 320px) {
	.modal-content{
		padding: 0!important;
	}
	.mantine-puhv18{
		justify-content: center!important;
	}
}
@media screen and (max-height: 700px){
	.heroContent{
		padding: 1rem!important;
	}
}

.m-0{
	margin: 0!important;
}
.red{
	color: #FF3838;
}
.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
	background-color: var(--bg);
	margin: 0!important;
	margin-bottom: 150px!important;
}
.main > .title{
	text-align: center;
}
.btn-group{
	margin: 0!important;
	width: 100%;
	display: flex;
	justify-content: space-between!important;
}
.centered{
	justify-content: center!important;
}
.align-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.table{
	background-color: #fff;
	width: 100%;
}
.table > thead{
	background-color: #0CA678;
}
.table > thead > tr > th{
	color: #fff;
}

/* Modal */
.mantine-yyqa1k{
	background-color: #eaeaea!important;
}
.modal-bg{
	background-color: #eaeaea!important;
}
.modal-content{
	padding: 1rem;
	text-align: center;
	align-items: center!important;
	justify-content: center!important;
	gap: 30px!important;
}
.modal-content > *{
	margin: 0!important;
}
.modal-arbo{
	padding: 1rem;
	text-align: center;
	align-items: center!important;
	justify-content: center!important;
	gap: 20px
}
.modal-arbo > .img{
	width: 100%;
	height: 300px;
	object-fit: fit;
	
}
.text-left{
	text-align: initial!important;
}
.justify-center{
	justify-content: center!important;
}
.modal-options{
	text-align: initial;
	flex-direction: row!important;
	align-items: center!important;
	justify-content: center!important;
	gap: 25px!important;
	margin: 20px auto!important;
}
.modal-options > *{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	margin: 0!important;
	align-items: flex-start!important;
	justify-content: center!important;
}
.modal-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin: 25px auto;
}
.form{
	width: 100%;
	text-align: left;
}
.form > *{
	display: flex;
	flex-direction: column;
	gap: 15px!important;
}
.btnLogin{
	background-color: #273042;
}
.btnLogin:hover{
	background-color: #273050;
}
.btn-text{
	padding: 1px;
	font-weight: 700;
}
.modal-title{
	font-weight: 700;
	color: #01391B;
}
.modal-header{
	background-color: #0CA678;
	color: #fff;
}
/* Modal Selector */
.question-box{
	display: flex;
	flex-direction: column;
	gap: 15px!important;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.chips{
	display: flex;
	flex-direction: column;
	align-items: flex-start!important;
}
.chips > *{
	margin: 0!important;
	width: 100%;
}
.chips > * > *{
	width: 100%;
}
.question{
	font-weight: 700;
	font-size: 1.2em;
}
.question-box > *{
	margin: 0!important;
	width: 100%;
}



/* Header */
.header{
	margin: 0!important;
	gap: 0!important;
}
.header > * {
	margin: 0!important;
	color: #fff
}
.topbar{
	background-color: var(--topbar-bg);
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 25px;
}
.navH{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 25px;
	background-color: var(--header-bg);
}
.navH > .logo{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	max-width: 50%;
}
.navH > .logo > .imgLogo {
	width: 140px!important;
}
.navH > .logo > :nth-child(2){
	font-family: 'Montserrat', sans-serif!important;
	text-transform: uppercase;
	word-wrap: break-word;
	font-size: 1em;
}
.navItems{
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif!important;
}
.navItems > *{
	margin: 0 10px;
}
.navItems > .nav-link {
	margin: 0 10px;
	color: #fff;
	font-weight: bold;
	text-decoration: none!important;
	font-size: 0.8em;
}
.navItems > .nav-link:hover {
	border-bottom: 2px solid var(--navHover);
	transition: 0.5s;
	cursor: pointer;
}
.burgerItems > *{
	width: 100%;
	color: #fff;
	font-size: 1.2em;
}
.link{
	margin: 0!important;
	text-decoration: none!important;
}
.burgerItems > .line{
	background-color: #5CB841!important;
}
.link:hover{
	border-bottom: 2px solid var(--navHover);
	transition: 0.5s;
	cursor: pointer;
}
/* Footer */
.footer{
	background-color: var(--footer-bg);
	padding: 25px 25px;
	gap: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}
.footer > .logo{
	background-color: var(--header-bg);
	width: 91px;
	height: 91px;
	border-radius: 8px;
}
.footer > .thanks > a{
	color: #00DD00!important;
	text-decoration: none;
}
.footer > .thanks > span:hover{
	color: #00FF00!important;
	cursor: pointer;
}
.footer > .footer__copy{
	font-family: 'Open Sans', sans-serif!important;
	font-size: 0.8em;
}
.footer > .footer__nav{
	font-family: 'Open Sans', sans-serif!important;
	font-size: 1em;
	display: flex;
	gap: 30px;
	text-align: center;
	margin: 0 auto!important;
	width: 100%;
	justify-content: center;
}
.footer > .footer__nav > .item{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 150px!important;
	gap: 10px;
}
.footer > .footer__nav > .item > .title{
	color: #00DD00!important;
}

/* Home */
.hero {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: calc(100vh - 189px);
}
.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.heroContent{
	display: flex;
	flex-direction: column;
	margin: 2rem;
	background-color: #fff;
	opacity: 0.8;
	padding: 2.5rem;
	width: 40%;
	color: var(--text)!important;
}
.heroContent > .card {
	text-align: center;
}
.heroContent > .card > .title{
	font-family: 'Montserrat', sans-serif!important;
	font-size: 2.5em;
	color: #2d3648;
}
.heroContent > .card > .subtitle{
	font-family: 'Open Sans', sans-serif!important;
	font-size: 1.5em;
	color: var(--subtitle);
}
.heroContent > .card > .description{
	font-family: 'Open Sans', sans-serif!important;
	font-size: 1em;
}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 150px;
	margin: 0!important;
	margin-bottom: 150px!important;
}

.content > .actions{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 25px;
	width: 100%;
}
.content > .actions > .action{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0px;
	justify-content: flex-end;
	border: 2px solid #cbd2e0;
	border-radius: 12px;
	background: #0c1b3c;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	height: 300px;
	padding: 0px;
	max-width: 20%;
}
.content > .actions > .action > .image{
	background-size: cover;
	background-position: center;
	align-items: flex-end;
}
.content > .actions > .action > .image > *{
	width: 100%!important;
	background-color: #005b2a;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	font-weight: 300;
	padding: 0!important;
	font-size: 16px;
}

.content > .actions > .action:hover{
	box-shadow: 10px 10px 0 0 rgba(112,255,0,0.75);
	transform: scale(1.05);
}
.content > .actions > .action > .image > .action_text{
	align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #005b2a;
    color: #fff;
    text-align: center;
}
/* Species */
.species{
	gap: 20px;
}
/* Gallery */
.gallery{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	padding: 50px 10px;
	margin: 0!important;
	background: var(--galeria-bg);
	text-align: center!important;
}
.gallery-cover{
	gap: 10px;
}
.imgSq{
	height: 60vh;
	background-color: var(--text);
	max-width: 22.5%;
	padding:0px;
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.image{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.textBox{
	padding: 1rem;
	background-color: #fff;
	opacity: 0.8;
	border-radius: 8px;
	text-align: center!important;
}
.gallery-extinct{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	width: 96%;
	margin-bottom: 200px!important;
}
.extinct-item{
	background-color: #fff!important;
	width: 100%;
	height: 200px;
	border-radius: 4px;
	padding:0px;
	min-height: 200px!important;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.extinct-item:hover{
	box-shadow: 0 0 10px 0 #00FF00;
}

.extinct-item > .image{
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mid-ext{
	grid-column: span 2 / auto;
}
.mid-ext:hover{
	box-shadow: 0 0 10px 0 #faff00;
}
.high-ext{
	grid-row: span 2 / auto;
	min-height: 410px!important;
}
.high-ext:hover{
	box-shadow: 0 0 10px 0 #ff1212;
}
.high-ext:hover > *{
	color: #ff1212;
}
/* Species */
.species-data{
	width: 100%;
	align-items: center;
}
.species-ficha{
	width: 100%;
}
.species-images{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 100%;
}
.species-ficha > .table {
	text-align: center;
}
.species-ficha > .table > thead > tr > th{
	text-align: center;
	font-size: 1em;
}
.category{
	background-color: #30dda9;
	color: #fff;
	font-weight: 700;
}